body {
  text-align: center;
  font-family: Arial;
}

#game-board {
  display: grid;
  grid-template-columns: repeat(9, 80px);
  grid-template-rows: repeat(5, 80px);
  gap: 2px;
  margin: 20px auto;
}

.cell {
  border: 1px solid black;
}
